@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body {
    text-align: center;
    background-color: #ADD8E6;
}
header, main, footer {
    background-color: #FFFFFF;
    margin: 10px;
    padding: 20px;
}
.header_nav {
    height: 40px;
}
.header_list {
    float: right;
}
.header_list::after {
    clear: both;
}
li {
    display: inline;
    margin: 10px 10px;
}
.header_list > li > a {
    display: inline-block;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #4682B4;
    cursor: pointer;
    box-shadow: 4px 4px 6px #808080;
    width: 120px;
    padding: 10px 0;    
    border: none;
    
}
.header_list > li > a:hover {
    background: #4169E1;
}


